<a href="https://colab.research.google.com/github/dtype2100/Coding_test/blob/master/221023_pro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* [피자 나눠먹기 (2)](https://school.programmers.co.kr/learn/courses/30/lessons/120816)

In [ ]:
def solution(slice, n):
  answer = 0
  if n % slice == 0:
    answer = n // slice
  else:
    answer = (n // slice) + 1
  return round(answer)

In [ ]:
# 다른 문제 풀이
def solution(slice, n):
    d, m = divmod(n, slice)
    return d + int(m != 0)

In [ ]:
# 다른 문제 풀이
def solution(slice, n):
    return ((n - 1) // slice) + 1

* [최댓값 만들기(1)](https://school.programmers.co.kr/learn/courses/30/lessons/120847)

In [ ]:
def solution(numbers):
    numbers.sort()
    largest = numbers[-1]
    second = numbers[-2]
    return largest * second

In [ ]:
# 다른 문제 풀이
def solution(numbers):
    num1 = 0
    num2 = 0
    answer = 0

    numbers.sort()

    num1 = numbers.pop()
    num2 = numbers.pop()
    answer = num1 * num2

    return answer

* [자릿수 더하기](https://school.programmers.co.kr/learn/courses/30/lessons/120906)

In [ ]:
def solution(n):
  answer = 0 
  num = str(n)
  for i in num:
    answer += int(i)
  return answer

In [ ]:
# 다른 문제 풀이
def solution(n):
  return sum(list(map(int, str(n))))

* [배열 자르기](https://school.programmers.co.kr/learn/courses/30/lessons/120833)

In [ ]:
def solution(numbers, num1, num2):
    return numbers[num1:num2+1]

* [짝수 홀수 개수](https://school.programmers.co.kr/learn/courses/30/lessons/120824)

In [68]:
def solution(num_list):
    answer = [0, 0]
    for i in num_list:
        if i % 2 == 0:
            answer[0] += 1
        else:
            answer[1] += 1
    return answer

In [70]:
# 다른 문제 풀이
def solution(num_list):
    answer = [0, 0]
    for n in num_list:
        answer[n % 2] += 1
    return answer

* [문자열안에 문자열](https://school.programmers.co.kr/learn/courses/30/lessons/120908)

In [95]:
def solution(str1, str2):
    answer = 0
    if str2 in str1:
        answer += 1
    else:
        answer += 2
    return answer

In [96]:
# 다른 문제 풀이
def solution(str1, str2):
  return 1 if str2 in str1 else 2