<a href="https://colab.research.google.com/github/dtype2100/Coding_test/blob/master/Greedy_concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 개요
1. '이것이 코딩테스트다' 책에 나오는 개념 예제 해설 및 주석

# 거스름돈

* 문제 해설
1. n을 coin으로 나눈 몫을 count하여 동전 개수 세기
2. n을 coin으로 나눈 나머지를 업데이트하여 남은 동전 개수 확인

In [ ]:
n = 1260
count = 0
coin_types = [500, 100, 50, 10]

for coin in coin_types:
  count += n // coin # coin을 나눈 몫을 count (동전 개수 세기). 두 번째 for문을 순회할 때, 260부터 시작.
  n %= coin # n을 coin으로 나눈 나머지 업데이트. 남은 동전개수 확인.

print(count)

6

In [ ]:
1260//500

2

In [ ]:
1260%500

260

In [ ]:
260//100

2

In [ ]:
260%100

60

In [ ]:
60//50

1

In [ ]:
60%50

10

In [ ]:
10//10

1

In [ ]:
10%10

0

# 큰 수의 법칙
1. 주어진 수를 M번 더하여 가장 큰 수를 만드는 법칙
2. 단, 배열의 특정한 인덱스(번호)에 해당하는 수가 연속해서 K번 초과하여 더해질 수 없음
3. 2, 4, 5, 4, 6으로 이루어진 배열이 있을 때, M이 8이고, K가 3
4. 6 + 6 + 6 + 5 + 6 + 6 + 6 + 5 = 46
5. 단, 서로 다른 인덱스에 해당하는 수가 같은 경우에도 서로 다른 것으로 간주
6. 3, 4, 3, 4, 3으로 이루어진 배열이 있을 때, M이 7, K가 2라고 가정
7. 두 번째 원소에 해당하는 4, 네 번째 원소에 해당하는 4를 번갈아 두 번씩  더하기 가능
8. 4 + 4 + 4 + 4 + 4 + 4 + 4 = 28
9. 배열의 크기 N, 숫자가 더해지는 횟수 M, 그리고 K가 주어질 때, 큰 수의 법칙에 따른 결과 출력
10. 입력조건
  * 자연수 1이상, 10000 이하
  * 입력으로 주어지는 K는 항상 M보다 작거나 같음
11. 출력조건
  * 첫째 줄에 큰 수의 법칙에 따라 더해진 답을 출력
12. 입력 
  * 5 8 3 
  * 2 4 5 4 6
13. 출력
  * 46

* 문제 정리
1. 가장 큰 수 더하기
2. 가장 큰 수는 연속해서 k(3)번을 초과할 수 없음
3. 따라서 가장 큰 수 3번, 두 번째로 큰 수 1번을 더하는 방식으로 계산 필요

* 반복문 구조
1. for문 3회 반복으로 가장 큰 수를 더한 후, for문을 빠져나와서 두 번째로 큰 수를 더함. 
2. 이때 두 번째로 큰 수는 for문 밖에 있지만, while문 안에 있어서 반복 가능.
3. m이 0이 될때까지 반복하기 때문에, 6 + 6 + 6 + 5 + 6 + 6 + 6 + 5 = 46 연산

In [ ]:
n, m, k = map(int, input().split())

data = list(map(int, input().split()))

data.sort()
first = data[n - 1] # 가장 큰 수
second = data[n - 2] # 두 번째로 큰 수

result = 0

while True:
  for i in range(k): # 가장 큰 수를  k번 더하기. k가 3이기 때문에, for문 3번 반복
    if m == 0: # m이 0이라면, 반복문 탈출 / 8, 7, 6, 5, 4, 3, 2, 1
      break
    result += first # for문 1회 반복 6 + 6 + 6 / for문 2회 반복 6 + 6 + 6
    m -= 1 # 더할 때마다 1씩 빼기
  if m == 0: # m이 0이라면 반복문 탈출
    break
  result += second # 두 번째로 큰 수를 한 번 더하기. # for문 3번 돌고 + 5. 2회 반복
  m -= 1 # 더할 때마다 1씩 빼기

print(result)

5 8 3
2 4 5 4 6
46

In [ ]:
data

[2, 4, 4, 5, 6]

In [ ]:
first

6

In [ ]:
second

5

In [ ]:
data[n - 1]

6

In [ ]:
data[n - 2]

5

# 숫자 카드 게임
1. 여러 개의 숫자 카드 중에서 가장 높은 숫자가 쓰인 카드 한장 뽑기
2. 숫자가 쓰인 카드는 N x M의 형태
3. 이때 M은 열의 개수를 의미
4. 먼저 뽑으려하는 카드가 포함된 행 선택
5. 그 다음 선택된 행에 포함된 카드 중 가장 숫자가 낮은 카트 뽑아야함
6. 처음 카드를 선택할 때, 이후에 숫자가 가장 낮은 카드를 뽑을 것을 고려하여 최종적으로 가장 높은 숫자의 카드를 뽑을 수 있는 전략 필요

* 3 x 3형태로 카드가 있음
* 3 1 2
* 4 1 4
* 2 2 2

* 입력 조건
1. 첫째 줄에 N과 M이 공백 기준으로 각각 자연수로 주어짐
2. 둘째 줄 부터 숫자가 적힌 카드가 주어짐. 각 숫자는 1이상, 10000 이하 자연수

* 출력 조건
1. 게임의 룰에 맞게 선택한 카드에 적힌 숫자 출력

* 문제 해설
1. 각 행마다 가장 작은 수를 찾은 뒤, 그 수중 가장 큰 수 찾기

In [ ]:
n, m = map(int, input().split())

result = 0

for i in range(n):
  data = list(map(int, input().split()))
  min_value = min(data)
  result = max(result, min_value)

print(result)

3 3
3 1 2
4 1 4
2 2 2
2

In [6]:
#  보류
n, m = map(int, input().split())

result = 0

for i in range(n):
  data = list(map(int, input().split()))

  min_value = 10001
  for a in data:
    min_value = min(min_value, a)

  result = max(result, min_value)

print(result)

3 3
3 1 2
4 1 4
2 2 2
2

# 1이 될 때까지
1. N이 1이 될 때까지 
2. N에서 1을 뺀다
3. N을 K로 나눈다

* 입력 조건
1. 첫째 줄 N과 K를 공백으로 구분
2. 각각 자연수로 주어지며, N은 항상 K보다 크거나 같음

* 출력 조건
1. 첫째 줄에 N이 1이 될 때까지 1번 혹은 2번 과정을 수행해야 하는 횟수의 최솟값을 출력

* 입력 예시: 25 5
* 출력 예시: 2

In [33]:
n, k = map(int, input().split())
result = 0  

while n >= k:
  while n % k != 0:
    n -= 1 
    result += 1 
  n //= k  # 1회 반복: 25 / 5 = 5, 2회 반복: 5 / 5 = 1 | 1회: 12 / 3 = 4 
  result += 1 # 1회 반복: 1, 2회 반복: 2 | 1회: 1

while n > 1: 
  n -= 1 
  result += 1 

print(result)

25 5
2

In [32]:
n, k = map(int, input().split())
result = 0 # 1, 2

while True:
  target = (n // k) * k # 1회 반복: 25 | 2회 반복: 5 | 3회 반복: 1
  result += (n - target) # 1회 반복: 0 | 2회 반복: 0 | 3회 반복: 0
  n = target # 1회 반복: 25 | 2회 반복: 5 | 3회 반복: 1
  if n < k: # 1회 반복: n = 25 | 2회: n = 5
    break
  result += 1 # 1회 반복: 1 | 2회 반복: 2 
  n //= k # 1회 반복: n = 5 | 2회: n = 1

print(result)
result += (n - 1)
print(result)

25 5
3
2