<a href="https://colab.research.google.com/github/dtype2100/Coding_test/blob/master/NLP_pos_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 20 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (17.8 MB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 159447 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
!pip install konlpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     |████████████████████████████████| 19.4 MB 6.8 MB/s
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.9.1)
Collecting JPype1>=0.7.0
  Downloading JPype1-1.4.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (453 kB)
     |████████████████████████████████| 453 kB 41.9 MB/s
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.6)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (4.1.1)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.4.0 konlpy-0.6.0

In [ ]:
# Colab에 Mecab 설치
!git clone https://github.com/SOMJANG/Mecab-ko-for-Google-Colab.git
%cd Mecab-ko-for-Google-Colab
!bash install_mecab-ko_on_colab190912.sh

Cloning into 'Mecab-ko-for-Google-Colab'...
remote: Enumerating objects: 115, done.
remote: Counting objects: 100% (24/24), done.
remote: Compressing objects: 100% (20/20), done.
remote: Total 115 (delta 11), reused 10 (delta 3), pack-reused 91
Receiving objects: 100% (115/115), 1.27 MiB | 9.86 MiB/s, done.
Resolving deltas: 100% (50/50), done.
/content/Mecab-ko-for-Google-Colab
Installing konlpy.....
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: konlpy in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.21.6)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.4.0)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.9.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (4.1.1)
Done
Installing mecab-0.996-ko-0.9.2.tar.gz.....
Downloading mecab-0.996-ko-0.9.2.tar.gz.......
from https://bitbucket.org/eunjeon/mecab-ko/downloads/mecab-0.996-ko-0.9.2.tar.gz
--2022-10-04 13:19:39--  https://bitbucket.org/eunjeon/mecab-ko/downloads/mecab-0.996-ko-0.9.2.tar.gz
Resolving bitbucket.org (bitbucket.org)... 104.192.141.1, 2406:da00:ff00::22cd:e0db, 2406:da00:ff00::22c5:2ef4, ...
Connecting to bitbucket.org (bitbucket.org)|104.192.141.1|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://bbuseruploads.s3.amazonaws.com/eunjeon/mecab-ko/downloads/mecab-0.996-ko-0.9.2.tar.gz?response-content-disposition=attachment%3B%20filename%3D%22mecab-0.996-ko-0.9.2.tar.gz%22&response-content-encoding=None&AWSAccessKeyId=ASIA6KOSE3BNC5Z4EN6P&Signature=7PCWxpPGliTbwPetGcs%2B5Bvgmbk%3D&x-amz-security-token=FwoGZXIvYXdzEBcaDJbllG8cl408%2FFP%2FaCK%2BASJwEqkkajbF9srKom4OPO9D0q049AvO%2BMwg6%2BHw6Vmrzoh7j2jGfmM7Aj722EXnwHPGAAuGvt6olKoabbGQwp54mLeIKATo2PyNyQwF4YNcnlfq0KY%2Fuo1Cb6lVFJaQZJM5L2%2BBmIS1hmPYhqmmZcDqjPbA20SCqCayf4KSqTrp48oHzW7wCMa5QPlxo69SrO8u0CA1TtYxthR9bSGSibfxlQWX2ymIVLol9ieFWncxDYObiHlSLy3ULlLkj7co%2Ft%2FwmQYyLRN5EPo%2BPx6Z27CLIWXUfFcy6t8yeOJmIijIAckbJUVb%2FZ58dsLj9YxKrcJidw%3D%3D&Expires=1664890630 [following]
--2022-10-04 13:19:39--  https://bbuseruploads.s3.amazonaws.com/eunjeon/mecab-ko/downloads/mecab-0.996-ko-0.9.2.tar.gz?response-content-disposition=attachment%3B%20filename%3D%22mecab-0.996-ko-0.9.2.tar.gz%22&response-content-encoding=None&AWSAccessKeyId=ASIA6KOSE3BNC5Z4EN6P&Signature=7PCWxpPGliTbwPetGcs%2B5Bvgmbk%3D&x-amz-security-token=FwoGZXIvYXdzEBcaDJbllG8cl408%2FFP%2FaCK%2BASJwEqkkajbF9srKom4OPO9D0q049AvO%2BMwg6%2BHw6Vmrzoh7j2jGfmM7Aj722EXnwHPGAAuGvt6olKoabbGQwp54mLeIKATo2PyNyQwF4YNcnlfq0KY%2Fuo1Cb6lVFJaQZJM5L2%2BBmIS1hmPYhqmmZcDqjPbA20SCqCayf4KSqTrp48oHzW7wCMa5QPlxo69SrO8u0CA1TtYxthR9bSGSibfxlQWX2ymIVLol9ieFWncxDYObiHlSLy3ULlLkj7co%2Ft%2FwmQYyLRN5EPo%2BPx6Z27CLIWXUfFcy6t8yeOJmIijIAckbJUVb%2FZ58dsLj9YxKrcJidw%3D%3D&Expires=1664890630
Resolving bbuseruploads.s3.amazonaws.com (bbuseruploads.s3.amazonaws.com)... 52.216.110.179
Connecting to bbuseruploads.s3.amazonaws.com (bbuseruploads.s3.amazonaws.com)|52.216.110.179|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1414979 (1.3M) [application/x-tar]
Saving to: ‘mecab-0.996-ko-0.9.2.tar.gz’

mecab-0.996-ko-0.9. 100%[===================>]   1.35M  7.68MB/s    in 0.2s

2022-10-04 13:19:39 (7.68 MB/s) - ‘mecab-0.996-ko-0.9.2.tar.gz’ saved [1414979/1414979]

Done
Unpacking mecab-0.996-ko-0.9.2.tar.gz.......
Done
Change Directory to mecab-0.996-ko-0.9.2.......
installing mecab-0.996-ko-0.9.2.tar.gz........
configure
make
make check
make install
ldconfig
Done
Change Directory to /content
Downloading mecab-ko-dic-2.1.1-20180720.tar.gz.......
from https://bitbucket.org/eunjeon/mecab-ko-dic/downloads/mecab-ko-dic-2.1.1-20180720.tar.gz
--2022-10-04 13:21:21--  https://bitbucket.org/eunjeon/mecab-ko-dic/downloads/mecab-ko-dic-2.1.1-20180720.tar.gz
Resolving bitbucket.org (bitbucket.org)... 104.192.141.1, 2406:da00:ff00::6b17:d1f5, 2406:da00:ff00::22e9:9f55, ...
Connecting to bitbucket.org (bitbucket.org)|104.192.141.1|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://bbuseruploads.s3.amazonaws.com/a4fcd83e-34f1-454e-a6ac-c242c7d434d3/downloads/b5a0c703-7b64-45ed-a2d7-180e962710b6/mecab-ko-dic-2.1.1-20180720.tar.gz?response-content-disposition=attachment%3B%20filename%3D%22mecab-ko-dic-2.1.1-20180720.tar.gz%22&response-content-encoding=None&AWSAccessKeyId=ASIA6KOSE3BNB7HL4Z43&Signature=SgxUiTB0VBHl62qtD2Zl7ZMU8Fw%3D&x-amz-security-token=FwoGZXIvYXdzEBcaDPvhGOjqJWBLjW6MUyK%2BATd2JuNCL%2B4WA5QapHGJGsiRrtQH1YYx9G3DeoaSzInQT0uv5bJ0qPDcDwLvHgGtdTu7JtVXppzTAuDqWyPFdABi3rFfiAWmorlqQgSMl8c24PmBncmO0YnNQdtknSCszOCaPVcxnE%2B3947VQarvilSVWv66Dj6GtUJqlvrwKyAorb%2FMf4hUOJrZjLSurI2bAigOtKUM%2F4yrzZBh77CpMt3hBNntE0OpZhiL7EaAVoOeFwUIyg4AodDJOFPknjYo0ubwmQYyLeE5Kat%2B4Ri5fQO5z%2Fj9espG%2BMfW%2B1F9ZHFmXeNN87LVUANzxrosznrG33ukgA%3D%3D&Expires=1664891482 [following]
--2022-10-04 13:21:22--  https://bbuseruploads.s3.amazonaws.com/a4fcd83e-34f1-454e-a6ac-c242c7d434d3/downloads/b5a0c703-7b64-45ed-a2d7-180e962710b6/mecab-ko-dic-2.1.1-20180720.tar.gz?response-content-disposition=attachment%3B%20filename%3D%22mecab-ko-dic-2.1.1-20180720.tar.gz%22&response-content-encoding=None&AWSAccessKeyId=ASIA6KOSE3BNB7HL4Z43&Signature=SgxUiTB0VBHl62qtD2Zl7ZMU8Fw%3D&x-amz-security-token=FwoGZXIvYXdzEBcaDPvhGOjqJWBLjW6MUyK%2BATd2JuNCL%2B4WA5QapHGJGsiRrtQH1YYx9G3DeoaSzInQT0uv5bJ0qPDcDwLvHgGtdTu7JtVXppzTAuDqWyPFdABi3rFfiAWmorlqQgSMl8c24PmBncmO0YnNQdtknSCszOCaPVcxnE%2B3947VQarvilSVWv66Dj6GtUJqlvrwKyAorb%2FMf4hUOJrZjLSurI2bAigOtKUM%2F4yrzZBh77CpMt3hBNntE0OpZhiL7EaAVoOeFwUIyg4AodDJOFPknjYo0ubwmQYyLeE5Kat%2B4Ri5fQO5z%2Fj9espG%2BMfW%2B1F9ZHFmXeNN87LVUANzxrosznrG33ukgA%3D%3D&Expires=1664891482
Resolving bbuseruploads.s3.amazonaws.com (bbuseruploads.s3.amazonaws.com)... 52.217.163.145
Connecting to bbuseruploads.s3.amazonaws.com (bbuseruploads.s3.amazonaws.com)|52.217.163.145|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 49775061 (47M) [application/x-tar]
Saving to: ‘mecab-ko-dic-2.1.1-20180720.tar.gz’

mecab-ko-dic-2.1.1- 100%[===================>]  47.47M  62.2MB/s    in 0.8s

2022-10-04 13:21:23 (62.2 MB/s) - ‘mecab-ko-dic-2.1.1-20180720.tar.gz’ saved [49775061/49775061]

Done
Unpacking  mecab-ko-dic-2.1.1-20180720.tar.gz.......
Done
Change Directory to mecab-ko-dic-2.1.1-20180720
Done
installing........
configure
make
make install
apt-get update
apt-get upgrade
apt install curl
apt install git
bash <(curl -s https://raw.githubusercontent.com/konlpy/konlpy/master/scripts/mecab.sh)
Done
Successfully Installed
Now you can use Mecab
from konlpy.tag import Mecab
mecab = Mecab()
사용자 사전 추가 방법 : https://bit.ly/3k0ZH53
NameError: name 'Tagger' is not defined 오류 발생 시 런타임을 재실행 해주세요
블로그에 해결 방법을 남겨주신 tana님 감사합니다.

In [ ]:
import pandas as pd
from tqdm import tqdm

import matplotlib.pyplot as plt
import seaborn as sns

from konlpy.tag import *

import warnings
warnings.simplefilter(action = 'ignore')

In [ ]:
train_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sesac/category_mini_project/words_train.csv')

In [ ]:
train_df[:1]

,Unnamed: 0,id,img_path,overview,cat1,cat2,cat3,mecab_nouns,okt_nouns
0,0,TRAIN_00000,./image/train/TRAIN_00000.jpg,소안항은 조용한 섬으로 인근해안이 청정해역으로 일찍이 김 양식을 해서 높은 소득을 ...,자연,자연관광지,항구/포구,소안항 섬 인근 해안 청정 해역 김 양식 소득 바다낚시 터로 항 주변 설치 양식장 ...,소안항 섬 인근 청정 해역 일찍이 김 양식 소득 바다 낚시터 도 항 주변 설치 식장...

In [ ]:
font_path = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'

In [ ]:
train_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
train_df[:1]

,id,img_path,overview,cat1,cat2,cat3,mecab_nouns,okt_nouns
0,TRAIN_00000,./image/train/TRAIN_00000.jpg,소안항은 조용한 섬으로 인근해안이 청정해역으로 일찍이 김 양식을 해서 높은 소득을 ...,자연,자연관광지,항구/포구,소안항 섬 인근 해안 청정 해역 김 양식 소득 바다낚시 터로 항 주변 설치 양식장 ...,소안항 섬 인근 청정 해역 일찍이 김 양식 소득 바다 낚시터 도 항 주변 설치 식장...

In [ ]:
mecab_nouns = pd.DataFrame(train_df['mecab_nouns'].value_counts())

In [ ]:
mecab_pos = []
for i in tqdm(train_df['overview']):
  mecab = Mecab()
  tags = mecab.pos(i)
  mecab_pos.append(tags)

100%|██████████| 16986/16986 [00:57<00:00, 294.82it/s]

In [ ]:
okt_pos = []
for i in tqdm(train_df['overview']):
  okt = Okt()
  okt_tags = okt.pos(i)
  okt_pos.append(okt_tags)

100%|██████████| 16986/16986 [07:35<00:00, 37.32it/s]

In [ ]:
word = []
tag = []
all_words = []
all_tags = []
for i, j in mecab_pos[0]:
  print(i, j)
  all_words.append(i)
  all_tags.append(j)
  if j == 'NNG':
    tag.append(j)
    word.append(i)

소안항 NNP
은 JX
조용 XR
한 XSA+ETM
섬 NNG
으로 JKB
인근 NNG
해안 NNG
이 JKS
청정 NNG
해역 NNG
으로 JKB
일찍이 MAG
김 NNP
양식 NNG
을 JKO
해서 VV+EC
높 VA
은 ETM
소득 NNG
을 JKO
올리 VV
고 EC
있 VX
으며 EC
바다낚시 NNG
터로 NNP
도 JX
유명 XR
하 XSA
다 EF
. SF
항 NNG
주변 NNG
에 JKB
설치 NNG
된 XSV+ETM
양식장 NNG
들 XSN
은 JX
섬사람 NNG
들 XSN
의 JKG
부지런 NNG
한 XSV+ETM
생활상 NNG
을 JKO
고스 NNP
란 NNG
히 VV+EC
담 VV
고 EC
있 VX
으며 EC
일몰 NNG
때 NNG
섬 NNG
의 JKG
정경 NNG
은 JX
바다 NNG
의 JKG
아름다움 VA+ETN
을 JKO
그대로 MAG
품 VV
고 EC
있 VX
는 ETM
듯 NNB
하 XSA
다 EF
. SF
또한 MAJ
, SC
섬 NNG
에 JKB
는 JX
각 MM
시여 NNG
전설 NNG
, SC
도둑 NNG
바위 NNG
등 NNB
의 JKG
설화 NNG
가 JKS
전해 VV+EC
내려오 VV
고 EC
있 VX
으며 EC
, SC
매년 MAG
정월 NNG
풍어제 NNG
풍속 NNG
이 JKS
이어지 VV
고 EC
있 VX
다 EF
. SF
< SY
br SL
> SY

In [ ]:
print(len(mecab_pos))
print(len(okt_pos))

16986
16986

In [ ]:
mecab_words = []
mecab_tagger = []
for n in range(16986):
  for i, j in mecab_pos[n]:
    mecab_words.append(i)
    mecab_tagger.append(j)

In [ ]:
okt_words = []
okt_tagger = []
for n in range(16986):
  for i, j in okt_pos[n]:
    okt_words.append(i)
    okt_tagger.append(j)

In [ ]:
mecab_df = pd.DataFrame({'mecab_words': mecab_words,
                          'mecab_tagger': mecab_tagger})

In [ ]:
okt_df = pd.DataFrame({'okt_words': okt_words,
                       'okt_tagger': okt_tagger})

In [ ]:
okt_df

        okt_words   okt_tagger
0             소안항         Noun
1               은         Josa
2             조용한    Adjective
3               섬         Noun
4              으로         Josa
...           ...          ...
2429483       탈바꿈         Noun
2429484         할         Verb
2429485         것         Noun
2429486        이다         Josa
2429487         .  Punctuation

[2429488 rows x 2 columns]

In [ ]:
mecab_df

        mecab_words mecab_tagger
0               소안항          NNP
1                 은           JX
2                조용           XR
3                 한      XSA+ETM
4                 섬          NNG
...             ...          ...
2831981           할      XSV+ETM
2831982           것          NNB
2831983           이          VCP
2831984           다           EF
2831985           .           SF

[2831986 rows x 2 columns]

In [ ]:
okt_words_count = pd.DataFrame(okt_df['okt_words'].value_counts())
okt_pos_count = pd.DataFrame(okt_df['okt_tagger'].value_counts())
#okt_concat = pd.merge([okt_words_count, okt_pos_count], how='left')

In [ ]:
print('words_counts :',len(okt_words_count))
print('pos_counts :',len(okt_pos_count))

words_counts : 77419
pos_counts : 22

In [ ]:
okt_words_count

     okt_words
.        82098
,        73245
을        57831
의        53921
이        53852
..         ...
767          1
넘거나          1
529          1
진펜션          1
법해           1

[77419 rows x 1 columns]

In [ ]:
okt_pos_count

                okt_tagger
Noun               1116124
Josa                500466
Punctuation         239923
Verb                207068
Adjective           136782
Number               59096
Modifier             41603
Suffix               38501
Alpha                29920
Foreign              29253
Adverb               17883
Determiner            8874
Conjunction           1785
Exclamation            860
VerbPrefix             779
Eomi                   192
KoreanParticle         192
URL                     93
Hashtag                 82
ScreenName               9
PreEomi                  2
Email                    1

In [ ]:
mecab_words_count = pd.DataFrame(mecab_df['mecab_words'].value_counts())
mecab_pos_count = pd.DataFrame(mecab_df['mecab_tagger'].value_counts())

In [ ]:
mecab_words_count = pd.DataFrame(mecab_df['mecab_words'].value_counts())
mecab_pos_count = pd.DataFrame(mecab_df['mecab_tagger'].value_counts())

In [ ]:
print('words_counts :', len(mecab_words_count))
print('pos_counts :', len(mecab_pos_count))

words_counts : 63526
pos_counts : 290

In [ ]:
mecab_words_count

      mecab_words
.           93163
이           85756
,           76756
다           74934
는           74931
...           ...
이재민             1
자분              1
노약              1
Line            1
법해              1

[63526 rows x 1 columns]

In [ ]:
mecab_pos_count

             mecab_tagger
NNG                869500
JKB                144262
EC                 130456
VV                 108157
NNP                106958
...                   ...
NP+JKC                  1
VV+ETN+JKB              1
VV+JX                   1
VV+EC+EP                1
MAG+VCP+ETM             1

[290 rows x 1 columns]

In [ ]:
train_df['cat3'].value_counts()

한식                3438
야영장,오토캠핑장         1558
바/까페               785
유적지/사적지            622
일반축제               549
                  ...
MTB                  2
대중콘서트                2
인라인(실내 인라인 포함)       2
스카이다이빙               2
클래식음악회               2
Name: cat3, Length: 128, dtype: int64

In [ ]:
len(train_df['cat3'])

16986

In [ ]:
df = pd.get_dummies(train_df['cat3'])

In [ ]:
#mecab_pos_count.to_csv('/content/drive/MyDrive/Colab Notebooks/sesac/category_mini_project/EDA/mecab_pos_counts.csv')

In [ ]:
#okt_pos_count.to_csv('/content/drive/MyDrive/Colab Notebooks/sesac/category_mini_project/EDA/okt_pos_counts.csv')