<a href="https://colab.research.google.com/github/dtype2100/Coding_test/blob/master/%EA%B5%AC%ED%98%84_practice1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

In [ ]:
name = ['진웅', '대선', '민재']
random.sample(name, 3)

['민재', '대선', '진웅']

1. 점수 N을 반으로 나누기
2. 왼쪽의 합과 오른쪽의 합한 값이 동일한 상황
3. 양쪽 값이 동일하다면, LUCKY
4. 다르다면, READY

* 입력1: 123402 / 출력1: LUCKY
* 입력2: 7755 / 출력: READY

In [ ]:
n = input()
length = len(n) # 점수 값의 총 자릿수
ㅣ_summary = 0
summary = 0
# 왼쪽 부분의 자릿수의 합 더하기
for i in range(length // 2):
    ㅣ_summary += int(n[i])

# 오른쪽 부분의 자릿수의 합 빼기
for i in range(length // 2, length):
    summary -= int(n[i])

# 왼쪽 부분과 오른쪽 부분의 자릿수 합이 동일한지 검사
if summary == 0:
    print("LUCKY")
else:
    print("READY")

7755
READY

In [ ]:
ㅣ_summary

14

In [ ]:
summary

-10

In [ ]:
range(length // 2, length)

range(2, 4)

In [ ]:
n = input()
length = len(n) # 점수 값의 총 자릿수
summary = 0

# 왼쪽 부분의 자릿수의 합 더하기
for i in range(length // 2): # 14
    summary += int(n[i])

# 오른쪽 부분의 자릿수의 합 빼기 
for i in range(length // 2, length): # 14 - 10 = 4
    summary -= int(n[i]) # 왼쪽을 값을 더한 summary로 오른 쪽을 더함. summary를 빼서 같은면 "LUCKY" ,아니면 "READY"

# 왼쪽 부분과 오른쪽 부분의 자릿수 합이 동일한지 검사
if summary == 0:
    print("LUCKY")
else:
    print("READY")

123402
LUCKY

In [ ]:
length // 2

2

In [ ]:
length

4

In [ ]:
range(length // 2, length)

range(2, 4)

In [ ]:
summary

4

In [ ]:
n = input()
length = len(n)
summary = 0

for i in range(length // 2):
  summary += int(n[i])

for i in range(length // 2, length):
  summary -= int(n[i])

if summary == 0:
  print("LUCKY")
else:
  print("READY")

123402
LUCKY

In [ ]:
length // 2

3

In [ ]:
range(length // 2, length)

range(3, 6)

In [ ]:
summary

0

1. 대문자, 숫자(0~9)로만 구성된 문자열이 입력으로 주어짐
2. 오름차순 정렬 후
3. 모든 값을 더해서 출력

* 입력: K1KA5CB7 / 출력: ABCKK13
* 입력: AJKDLSI412K4JSJ9D / 출력: ADDIJJKKLSS20

In [13]:
data = input()
result = []
num = 0

for i in data:
  if i.isalpha():
    result.append(i)
  else:
    num += int(i)

result.sort()
if result != 0:
  result.append(str(num))

print(''.join(result))

AJKDLSI412K4JSJ9D
ADDIJJJKKLSS20